.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: rgba(255,255,255,.1);
    padding: 12px 7px;
    vertical-align: middle;
}
  .table>tbody>tr>td, .table>thead>tr>th, .table>tfoot>tr>th {
    color: rgba(255,255,255,.7)!important;
}
 .table>thead>tr>th {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0;
}

/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

 table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}



/* Manthan */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 0.0625rem solid rgba(34, 42, 66, 0.05);
  border-radius: 0.2857rem;
}
.category,
.card-category {
  text-transform: capitalize;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
}
.card-category {
  font-size: 0.75rem;
}
.card {
  background: #27293d;
  border: 0;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.card label {
  color: rgba(255, 255, 255, 0.6);
}
.card .card-title {
  margin-bottom: .75rem;
}
.card .card-body {
  padding: 15px;
}
.card .card-body.table-full-width {
  padding-left: 0;
  padding-right: 0;
}
.card .card-body .card-title {
  color: #ffffff;
  text-transform: inherit;
  font-weight: 300;
  margin-bottom: .75rem;
}
.card .card-body .card-description,
.card .card-body .card-category {
  color: rgba(255, 255, 255, 0.6);
}
.card .card-header {
  padding: 15px 15px 0;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
}
.card .card-header .card-title {
  color: #ffffff;
  font-weight: 100;
}
.card .card-header .card-category {
  color: #9A9A9A;
  margin-bottom: 5px;
  font-weight: 300;
}
.card-body {
  padding: 1.25rem;
}
.card-tasks .card-body .table {
  margin-bottom: 0;
  white-space: nowrap;
}
.card-tasks .card-body .table>thead>tr>th,
.card-tasks .card-body .table>tbody>tr>th,
.card-tasks .card-body .table>tfoot>tr>th,
.card-tasks .card-body .table>thead>tr>td,
.card-tasks .card-body .table>tbody>tr>td,
.card-tasks .card-body .table>tfoot>tr>td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: rgba(255,255,255,.1);
  padding: 12px 7px;
  vertical-align: middle;
}

table {
  background-color: transparent;
  color: white;
}
.table>tbody>tr>td, .table>thead>tr>th, .table>tfoot>tr>th {
  color: rgba(255,255,255,.7)!important;
}
.table td, .table th {
  padding: 1rem;
  vertical-align: top;
  border-top: .0625rem solid #e3e3e3;
}
.table>thead>tr>th {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  border: 0;
}

.pupo{
 margin-top: 10px;
 color: white;
}
.pups{
  color: #9d9ea7;
  font-size: smaller;
  border-color: #980000;
  border-bottom: #980000;
}
tr.mat-sort-header-container{
  color: white;
}
tr.mat-row {
/*   border: 1px solid #e7e7e7;
  font-weight: bold; */
  color: rgba(255,255,255,.7)!important;
  height: 68px !important;
  border-color: #3c3e4f!important;
}
tr:hover.mat-row {
  background-color: rgba(0,0,0,.075) !important;
  
}
.table>tfoot>tr>th {
  font-size: 12px;
  font-weight: 500;
}
.card-tasks .table-full-width {
  /* max-height: 410px; */
  position: relative;
}
.card-tasks .card-header .title {
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
}
.card p {
  color: rgba(255,255,255,.8);
  margin-bottom: 0;
}
.text-muted {
  color: #6c757d!important;
  font-weight: 300;
}
.photo {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
}
.photo img {
  width: 100%;
}
.card-tasks .card-body i {
  color: #9A9A9A;
  font-size: 1.25em;
  transition: all .3s ease 0s;
}
.card-tasks .card-body i:hover {
  color: #ffffff;
  transition: all .3s ease 0s;
}
.form-control {
background-color: #27293d;
font-size: 1.125rem;
font-weight: 300;
color: #fff;
border: 1px solid #93949e;
margin-bottom: 1rem;
}
span.status-active i, span.status-inactive i {
font-size: .75rem !important;
padding-right: 8px;
padding-top: 0;
}
span.status-active i {
color: #2da3e0 !important;
}
span.status-inactive i {
color: #e3879e !important;
}
.card .card-footer {
  background-color: transparent;
  border: 0;
  padding: 15px;
}
mat-paginator {
  background-color: transparent;
  color: white;
}
